<a href="https://colab.research.google.com/github/Anshika1024/LetsUpgrade-Python-Essentials/blob/master/Assignment_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1)List and its default functions.

A list is a data structure in Python that is a mutable, or changeable, ordered 
sequence of elements.
Lists are defined by having values between square brackets[].

In [ ]:
lst = ['Maths', 'chemistry', 1997, 2000]

Some of its default functions are:

1.append():It is used to add elements to the last position of List.
Syntax:list.append (element)

In [ ]:
lst.append(5.6)
lst

['Maths', 'chemistry', 1997, 2000, 5.6]

2.insert(): Inserts an elements at specified position.
   Syntax:list.insert(<position, element)

In [ ]:
lst.insert(2,10087)      
print(lst)

['Maths', 'chemistry', 10087, 1997, 2000, 5.6]

3.sum() : Calculates sum of all the elements of List.
Syntax:sum(List)

In [ ]:
L1 = [1, 2, 3, 4, 5] 
print(sum(L1))

15

4.count():Calculates total occurrence of given element of List.
Syntax:List.count(element)

In [ ]:
L = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(L.count(1))

4

5.max(): Calculates maximum of all the elements of List.
Syntax:max(List)

In [ ]:
t = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(max(t))

5.33

Question 2)Dictionary and its default functions.

A dictionary is a unordered collection of key/value pairs.
In Python, a Dictionary can be created by placing sequence of elements within curly {} braces, separated by ‘comma’. 
Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [ ]:
d1={'Name': 'Zara', 'Age': 7}
d2={'Name':'Manni', 'Age': 8}

Some of its default functions are:

1.len():Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.

In [ ]:
print(len(d1))

2

2.items():Returns a list of (key, value) tuple pairs.

In [ ]:
d2.items()

dict_items([('Name', 'Manni'), ('Age', 8)])

3.keys():Returns list of dictionary dict's keys.

In [14]:
d1.keys()
d2.keys()

dict_keys(['Name', 'Age'])

4.values():Returns list of dictionary values.

In [15]:
d2.values()

dict_values(['Manni', 8])

5.copy():Returns a shallow copy of dictionary.

In [19]:
d3=d2.copy()
print(d3)

{'Name': 'Manni', 'Age': 8}

Question 3)Sets and its default functions.

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [26]:
thisset = {"apple", "banana", "cherry"}

Some of its default functions are:

1.add():Use to add one item to a set.

In [27]:
thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

2.remove():Used to remove an item in a set.

In [28]:
thisset.remove("banana")
print(thisset)

{'apple', 'orange', 'cherry'}

3.pop():To remove the last item in a set.

In [29]:
x = thisset.pop()
print(x)
print(thisset)

apple
{'orange', 'cherry'}

4.union():The union() method returns a new set with all items from both sets.

In [30]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

5.clear():The clear() method empties the set

In [34]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

Question 4)Tuple and explore default methods.

A tuple is a collection which is ordered and unchangeable. In Python, tuples are written with round brackets.

In [35]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

Some of its default methods are:

1.count():The count() method returns the number of times a specified value appears in the tuple.
Syntax:tuple.count(value)

In [36]:
tup = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = tup.count(5)
print(x)

2

2.index():The index() method finds the first occurrence of the specified value.
It raises an exception if the value is not found.
Syntax:tuple.index(value)

In [38]:
x = tup.index(8)
print(x)

3

Question 5)Strings and explore default methods.

Strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
String literals in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

In [39]:
print("Hello")

Hello

Some of its default methods are:

1.capitalize():Returns a copy of the string with its first character capitalized and the rest lowercased.

In [40]:
mystring = "hello python"
print(mystring.capitalize())

Hello python

2.Casefold():Returns a casefolded copy of the string. Casefolded strings may be used for caseless matching.

In [41]:
mystring = "hello PYTHON"
print(mystring.casefold())

hello python

3.endswith(suffix, [start], [end]):Returns True if the string ends with the specified suffix, otherwise it returns False.

In [42]:
mystr = "Python"
print(mystr.endswith("y"))

False

4.isalnum():Returns True if all characters in the string are alphanumeric.

In [43]:
a = "123"
print(a.isalnum())

True

5.islower():Returns True if all characters in the string are lower case.

In [44]:
c="_user_123"
print(c.islower())

True